*{
    box-sizing: border-box  ;
}


.grid{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.grid-item{
    height: 100px;
    background-color: #000;
    border: 1px solid #fff;
}

.grid-A > .grid-item{
    width: 25%;
}

.grid-B > .grid-item{
    width: 50%;
}

.grid-C > .grid-item{
    width: 16.6%;
}