@charset "utf-8";

/*
Base style
*/
body{
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333
}
/*
Login
*/

.login{
    text-align: center;
    background-color: rgb(126, 126, 234);
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border-radius: 5%;
    border-color: aliceblue;
}
.login-head{}
.login-table{}
.input{}
.login-id{}
.login-pass{}
.button{}
.sign-up{}